<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Just a small group of ambitious webdev people trying to make something useful.
</p>

<p>
	<a href="http://github.com/clamstew" target="_blank">Clamstew</a> and <a href="http://github.com/taylor-smith" target="_blank">Taylor-Smith</a>
</p>