<footer class="footer">
  <small>
    <%= link_to "Game Starter",   root_path %>
    by Clay and Taylor
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</footer>